{% extends 'base.html' %}
{% block title%}Admin Page{% endblock %}

{% block content %}
<ul>
    <li><a href = 'users'>Manage Users</a></li>
    <li><a href = 'user-questions'>Manage User Questions</a></li>
    <li><a href = 'add-question'>Manage Questions</a></li>
    <li><a href = 'user-lessons'>Manage User Lessons</a></li>
    <li><a href = 'add-lesson'>Manage Lessons</a></li>
    <li><a href = 'reset-progress'>Reset User Progress</a></li>
    <li><a href = 'daily-words'>Manage Daily Words</a></li>
</ul>
{% endblock %}