{% extends 'base.html' %}
{% block title %}Forgor Password{% endblock %}


{% block content %}
<form method = 'POST' action = "{{ url_for('routes.forgorPassword') }}">
   <div class = 'forgor-password-parent-container'>
        <div class = 'forgor-password-content-container'>

            <div class = 'login-exit-button'>
                <a href = "{{ url_for('routes.login') }}" class = 'btn'>&times;</a>
                <!-- allow user to return to login page -->
            </div>

            <h1 class = 'forgor-password-title'>Forgor Password</h1>

            <div class = 'forgor-password-body-container'>
                <input type = 'text' id = 'email' name = 'email' placeholder = 'Email' class = 'forgor-password-email'>
                <button type = 'submit' class = 'forgor-password-button'><b>CONFIRM EMAIL</b></button>
            </div>

            <div class = 'forgor-password-footer'>
                <p class = 'forgor-password-link-text'>Remembered your password? <a href = 'login'>Login</a></p>
            </div>

        </div>
   </div>

</form>
{% endblock %}