{% extends 'base.html' %}
{% block title %}Reset Password{% endblock %}


{% block content %}
<form method = 'POST' action = "{{ url_for('routes.resetPassword', token = token) }}">

    <div class = 'reset-password-parent-container'>
        <div class = 'reset-password-content-container'>

            <div class = 'login-exit-button'>
                <a href = "{{ url_for('routes.login') }}" class = 'btn'>&times;</a>
                <!-- allow user to return to login page -->
            </div>
           
           <h1 class = 'reset-password-title'>Reset Password</h1>
        
           <div class = 'reset-password-body-container'>
               <input type = 'password' id = 'password' name = 'password' placeholder = 'Password' class = 'reset-password-password'>
               <input type = 'password' id = 'confirmPassword' name = 'confirmPassword' placeholder = 'Confirm Password' class = 'reset-password-confirm-password'>
               <p class = 'password-requirements'>Passwords must: be 8 characters long and contain 1 capital letter, 1 number and 1 special character.</p>
               <button type = 'submit' class = 'reset-password-button'><b>RESET PASSWORD</b></button>
           </div>

        </div>
    </div>

</form>
{% endblock %}