{% extends 'appBase.html' %}

{% block title %}Retrieval{% endblock %}

{% block content %}
<form method = 'POST' action = "{{ url_for('routes.retrieval') }}">
    <div class='card retrieval-card'>
        <div class='card-body'>
            <h1 class='custom-card-header'>Retrieval</h1>
        </div>
    </div>

    <div class='container lesson-container'>
        <button type = 'submit' class='retrieval-button'>
            <div class='brain-icon'></div>
        </button>
        <p class='lesson-text'>Retrieval Deck</p>
    </div>
</form>
{% endblock %}